:root {
	--ion-color-accent: #75ce7b;
	--ion-color-accent-rgb: 98,230,41;
	--ion-color-accent-contrast: #000000;
	--ion-color-accent-contrast-rgb: 0,0,0;
	--ion-color-accent-shade: #56ca24;
	--ion-color-accent-tint: #72e93e;

	--ion-color-warning: #F2AC57;
	--ion-color-warning-rgb: 242,172,87;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #d5974d;
	--ion-color-warning-tint: #f3b468;

	--ion-color-success: #17A05C;
	--ion-color-success-rgb: 23,160,92;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #148d51;
	--ion-color-success-tint: #2eaa6c;

  --ion-color-error: #FF7171;
	--ion-color-error-rgb: 255,113,113;
	--ion-color-error-contrast: #000000;
	--ion-color-error-contrast-rgb: 0,0,0;
	--ion-color-error-shade: #e06363;
	--ion-color-error-tint: #ff7f7f;

  --ion-color-primary: #2C2738;
	--ion-color-primary-rgb: 44,39,56;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #272231;
	--ion-color-primary-tint: #413d4c;

  --ion-color-secondary: #697183;
	--ion-color-secondary-rgb: 105,113,131;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #5c6373;
	--ion-color-secondary-tint: #787f8f;

  --ion-color-muted: #75CEC2;
	--ion-color-muted-rgb: 117,206,194;
	--ion-color-muted-contrast: #000000;
	--ion-color-muted-contrast-rgb: 0,0,0;
	--ion-color-muted-shade: #67b5ab;
	--ion-color-muted-tint: #83d3c8;

  --ion-color-bright: #FFFFFF;
	--ion-color-bright-rgb: 255,255,255;
	--ion-color-bright-contrast: #000000;
	--ion-color-bright-contrast-rgb: 0,0,0;
	--ion-color-bright-shade: #e0e0e0;
	--ion-color-bright-tint: #ffffff;

  --ion-color-shade: #DBE2EA;
	--ion-color-shade-rgb: 219,226,234;
	--ion-color-shade-contrast: #000000;
	--ion-color-shade-contrast-rgb: 0,0,0;
	--ion-color-shade-shade: #c1c7ce;
	--ion-color-shade-tint: #dfe5ec;

  --ion-color-tint: #EBF4F8;
	--ion-color-tint-rgb: 235,244,248;
	--ion-color-tint-contrast: #000000;
	--ion-color-tint-contrast-rgb: 0,0,0;
	--ion-color-tint-shade: #cfd7da;
	--ion-color-tint-tint: #edf5f9;

}

.ion-color-accent {
	--ion-color-base: var(--ion-color-accent);
	--ion-color-base-rgb: var(--ion-color-accent-rgb);
	--ion-color-contrast: var(--ion-color-accent-contrast);
	--ion-color-contrast-rgb: var(--ion-color-accent-contrast-rgb);
	--ion-color-shade: var(--ion-color-accent-shade);
	--ion-color-tint: var(--ion-color-accent-tint);
}

.ion-color-warning {
	--ion-color-base: var(--ion-color-warning);
	--ion-color-base-rgb: var(--ion-color-warning-rgb);
	--ion-color-contrast: var(--ion-color-warning-contrast);
	--ion-color-contrast-rgb: var(--ion-color-warning-contrast-rgb);
	--ion-color-shade: var(--ion-color-warning-shade);
	--ion-color-tint: var(--ion-color-warning-tint);
}

.ion-color-success {
	--ion-color-base: var(--ion-color-success);
	--ion-color-base-rgb: var(--ion-color-success-rgb);
	--ion-color-contrast: var(--ion-color-success-contrast);
	--ion-color-contrast-rgb: var(--ion-color-success-contrast-rgb);
	--ion-color-shade: var(--ion-color-success-shade);
	--ion-color-tint: var(--ion-color-success-tint);
}

.ion-color-error {
	--ion-color-base: var(--ion-color-error);
	--ion-color-base-rgb: var(--ion-color-error-rgb);
	--ion-color-contrast: var(--ion-color-error-contrast);
	--ion-color-contrast-rgb: var(--ion-color-error-contrast-rgb);
	--ion-color-shade: var(--ion-color-error-shade);
	--ion-color-tint: var(--ion-color-error-tint);
}

.ion-color-primary {
	--ion-color-base: var(--ion-color-primary);
	--ion-color-base-rgb: var(--ion-color-primary-rgb);
	--ion-color-contrast: var(--ion-color-primary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
	--ion-color-shade: var(--ion-color-primary-shade);
	--ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-secondary {
	--ion-color-base: var(--ion-color-secondary);
	--ion-color-base-rgb: var(--ion-color-secondary-rgb);
	--ion-color-contrast: var(--ion-color-secondary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
	--ion-color-shade: var(--ion-color-secondary-shade);
	--ion-color-tint: var(--ion-color-secondary-tint);
}

.ion-color-muted {
	--ion-color-base: var(--ion-color-muted);
	--ion-color-base-rgb: var(--ion-color-muted-rgb);
	--ion-color-contrast: var(--ion-color-muted-contrast);
	--ion-color-contrast-rgb: var(--ion-color-muted-contrast-rgb);
	--ion-color-shade: var(--ion-color-muted-shade);
	--ion-color-tint: var(--ion-color-muted-tint);
}

.ion-color-bright {
	--ion-color-base: var(--ion-color-bright);
	--ion-color-base-rgb: var(--ion-color-bright-rgb);
	--ion-color-contrast: var(--ion-color-bright-contrast);
	--ion-color-contrast-rgb: var(--ion-color-bright-contrast-rgb);
	--ion-color-shade: var(--ion-color-bright-shade);
	--ion-color-tint: var(--ion-color-bright-tint);
}

.ion-color-shade {
	--ion-color-base: var(--ion-color-shade);
	--ion-color-base-rgb: var(--ion-color-shade-rgb);
	--ion-color-contrast: var(--ion-color-shade-contrast);
	--ion-color-contrast-rgb: var(--ion-color-shade-contrast-rgb);
	--ion-color-shade: var(--ion-color-shade-shade);
	--ion-color-tint: var(--ion-color-shade-tint);
}

.ion-color-tint {
	--ion-color-base: var(--ion-color-tint);
	--ion-color-base-rgb: var(--ion-color-tint-rgb);
	--ion-color-contrast: var(--ion-color-tint-contrast);
	--ion-color-contrast-rgb: var(--ion-color-tint-contrast-rgb);
	--ion-color-shade: var(--ion-color-tint-shade);
	--ion-color-tint: var(--ion-color-tint-tint);
}


@import "bootstrap";