<ion-content id="container">
  <ion-grid fixed>
    <ion-col size="12">
        <ion-img class="" src="/assets/images/emprefast-logo.png"></ion-img>
    </ion-col>
    <ion-col>
      <ion-title>Iniciar Sesión</ion-title>
      <ion-text color="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </ion-text>
      <form action="">
        <ion-list lines="none">
          <ion-item>
            <ion-label position="stacked">Correo electronico</ion-label>
            <ion-input placeholder="usuario@gmail.com"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input placeholder="********"></ion-input>
          </ion-item>
        </ion-list>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="5">
              <ion-checkbox color="primary"></ion-checkbox>
              <label color="primary" for="">Recuerdame</label>
            </ion-col>
            <ion-col size="7">
                <a href="">¿Olvidaste tu contraseña?</a>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button color="accent" type="submit" expand="block">
          Iniciar sesión
        </ion-button>
        <ion-button color="bright" type="submit" expand="block">
          Iniciar con LinkdIn
        </ion-button>
        
      </form>
    </ion-col>
  </ion-grid>
  <div class="badge bg-primary text-wrap" style="width: 6rem;">
    This text should wrap.
  </div>
</ion-content>